body {
  margin: 0;
  height: 100vh;
  background: linear-gradient(135deg, #9be15d, #00e3ae);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Segoe UI", Arial, sans-serif;
}

.login{
    width: 500px;
    height: 500px;
    border: solid 0.5px rgb(0, 0, 0);
    border-radius: 10px;
    margin-top: 80px;
    padding-top: 100px;
    background-color: #ffffff;
}
.lable{
    font-size:15px;
}
.login-box {
  width: 380px;
  border-radius: 5px;
  box-shadow: 0 15px 35px rgba(89, 168, 79, 0.15);
  transition: background-color ;
}
.login-box button:hover{
    background-color: #7e9c64;
}
.inputs{
    width: 500px;
    height: 350px;
    margin-left:100px;
    text-align: left;
}
.box{
    border-radius: 5PX;
    border-width: 1px;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 300px;
    height: 25px;
}
